*{margin: 0; padding: 0;}

.timer{font-family: 'Digital Display'; user-select: none;}

.main-timer{font-size: 200px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 10; color: #333;}
#main-background-timer{font-size: 200px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); color: #3331;}
.sub-timer{font-size: 70px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, calc(-50% + 120px)); color: #333;}
#sub-background-timer{font-size: 70px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, calc(-50% + 120px)); color: #3331;}